@using EasySoft.PssS.Web.Resources;

@{
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
}
<h2>@WebResource.Title_Login</h2>
<div class="row">
    <div class="col-md-12">
        <form role="form">
            <h4>@WebResource.Message_LoginTip</h4>
            <hr />
            <div class="form-group">
                <input class="form-control" id="txtMoblie" type="text" placeholder="@ValidateHelper.GetPleaseInputFieldString(WebResource.Field_Moblie)" />
            </div>
            <div class="form-group">
                <input class="form-control" id="txtPassword" name="Password" type="password" placeholder="@ValidateHelper.GetPleaseInputFieldString(WebResource.Field_Password)" />

            </div>
            @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input data-val="true" data-val-required="记住我? 字段是必需的。" id="RememberMe" name="RememberMe" type="checkbox" value="true" /><input name="RememberMe" type="hidden" value="false" />
                            <label for="RememberMe">记住我?</label>
                        </div>
                    </div>
                </div>*@
            <div class="form-group">
                <input id="btnLogin" type="submit" value="@WebResource.Button_Login" class="btn btn-primary  btn-block" />

            </div>
        </form>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="alertError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    @WebResource.Message_Error
                </h4>
            </div>
            <div class="modal-body" id="errorMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    @WebResource.Button_Ok
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {

            $('#btnLogin').click(function () {
                $('#btnLogin').attr({ 'disabled': 'disabled' });
                var moblie = $.trim($('#txtMoblie').val());
                var password = $.trim($('#txtPassword').val());
                if (moblie.length == 0) {
                    showError('@ValidateHelper.GetPleaseInputFieldString(WebResource.Field_Moblie)');
                    return false;
                }
                if (password.length == 0) {
                    showError('@ValidateHelper.GetPleaseInputFieldString(WebResource.Field_Password)');
                    return false;
                }
                var model = {};
                model.Moblie = moblie;
                model.Password = password;
                model.ReturnUrl = '@ViewBag.ReturnUrl';
                $.ajax({
                    type: 'post',
                    url: '/User/Login',
                    data: { model: model },
                    success: function (result) {
                        if (result.Result) {
                            window.location.href = result.Data;
                        }
                        else {
                            showError(result.Message);
                        }
                        return false;
                    },
                    error: function () {
                        showError('System Error');
                    },
                    complete: function () {

                    }
                });
                return false;
            });
        });
        function showError(errorMessage) {
            $('#errorMessage').html(errorMessage);
            $('#alertError').modal('show');
            $('#btnLogin').removeAttr('disabled');
        }
    </script>
}


