@using EasySoft.PssS.Web.Resources;
@using EasySoft.Core.Util;
@model EasySoft.PssS.Web.Models.User.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
}
<h2 style="text-align:center" class="text-success">@WebResource.Title_Login</h2>
<form role="form">
    <br />
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone text-success"></span></span>
            <input class="form-control" id="txtMobile" type="text" placeholder="@WebResource.Field_Mobile" />
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock text-success"></span></span>
            <input class="form-control" id="txtPassword" name="Password" type="password" placeholder="@WebResource.Field_Password" />
        </div>
    </div>
    <div class="form-group">
        <input id="btnLogin" type="submit" value="@WebResource.Button_Login" class="btn btn-success  btn-block" />
    </div>
</form>

@Html.Action("Dialog", "Common", new { id = "dialogError", title = WebResource.Message_Error, messageBodyId = "errorMessage", okButton = @WebResource.Button_Close })

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#btnLogin').click(function () {
                $('#btnLogin').attr({ 'disabled': 'disabled' });
                var mobile = $.trim($('#txtMobile').val());
                var password = $.trim($('#txtPassword').val());
                if (mobile.length == 0) {
                    showError('@Validate.GetPleaseInputFieldString(WebResource.Field_Mobile)');
                    return false;
                }
                if (password.length == 0) {
                    showError('@Validate.GetPleaseInputFieldString(WebResource.Field_Password)');
                    return false;
                }
                var model = {};
                model.Mobile = mobile;
                model.Password = password;
                model.ReturnUrl = '@Model.ReturnUrl';
                $.ajax({
                    type: 'post',
                    url: '/User/Login',
                    data: { model: model },
                    success: function (result) {
                        if (result.Result) {
                            window.location.href = result.Data;
                        }
                        else {
                            showError(result.Message);
                        }
                        return false;
                    },
                    error: function () {
                        showError('System Error');
                    }
                });
                return false;
            });
        });
        function showError(errorMessage) {
            $('#errorMessage').html(errorMessage);
            $('#dialogError').modal('show');
            $('#btnLogin').removeAttr('disabled');
        }
    </script>
}


