@using System.Collections.Generic

@model EasySoft.PssS.Web.Models.Purchase.PurchaseAddModel

@{
    ViewBag.Title = "采购入库";
}

<div class="cart-panel">
    <form id="addProductForm" class="am-form am-form-horizontal">
        <div class="am-form-group am-form-group-sm">
            <label for="txtDate" class="am-u-sm-3 am-form-label">日期</label>
            <div class="am-u-sm-9">
                <input id="txtDate" type="text" class="am-form-field" placeholder="请选择日期" data-am-datepicker="{theme: 'danger'}" readonly required>
            </div>
        </div>
        <div class="am-form-group am-form-group-sm">
            <label for="ddlItem" class="am-u-sm-3 am-form-label">产品</label>
            <div class="am-u-sm-9">
                <select id="ddlItem" class="am-form-field" required>
                    <option value="">请选择产品</option>
                    @foreach (var item in Model.PurchaseItems)
                    {
                        <option value="@item.Code">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="am-form-group am-form-group-sm">
            <label for="txtQuantity" class="am-u-sm-3 am-form-label">数量</label>
            <div class="am-u-sm-9">
                <input id="txtQuantity" type="number" min="0.01" max="99999999.99" class="am-form-field" placeholder="请输入数量">
            </div>
        </div>
        <div class="am-form-group am-form-group-sm">
            <label for="txtSupplier" class="am-u-sm-3 am-form-label">供应方</label>
            <div class="am-u-sm-9">
                <input id="txtSupplier" type="text" class="am-form-field" placeholder="请输入供应方名称">
            </div>
        </div>
        @foreach (var cost in Model.Costs)
        {
            <div class="am-form-group am-form-group-sm">
                <label for="@cost.ItemCode" class="am-u-sm-3 am-form-label">@cost.ItemName</label>
                <div class="am-u-sm-9">
                    <input type="number" min="0" max="99999999.99" id="@cost.ItemCode" name="costMoney" class="am-form-field" placeholder="请输入金额，单位：元">
                </div>
            </div>
        }
        <div class="am-form-group am-form-group-sm">
            <label for="txtRemark" class="am-u-sm-3 am-form-label">备注</label>
            <div class="am-u-sm-9">
                <textarea class="am-form-field" rows="4" id="txtRemark" maxlength="120" placeholder="请输入备注信息"></textarea>
            </div>
        </div>
        <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-offset-3">
                <button type="submit" class="am-btn am-btn-success">提交</button>
            </div>
        </div>
    </form>
</div>
@foreach (var item in Model.PurchaseItems)
{
    <input type="hidden" id="@item.Code" value="@item.InputUnit" />
}
<div class="am-modal am-modal-alert" tabindex="-1" id="alertError">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">错误信息</div>
        <div class="am-modal-bd" id="errorMessage">

        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>
@section JsScripts {
    <script type="text/javascript">
        
        $(function () {
            $("#ddlItem").click(function () {
                var item = $("#ddlItem").val();
                var placeholder = "请输入数量";
                if (item.length > 0) {
                    var unit = $("#" + item).val();
                    placeholder = "请输入数量，单位：" + unit;
                }
                $("#txtQuantity").attr("placeholder", placeholder);
            });
            $("#addProductForm").validator({
                onValid: function (validity) {
                    $(validity.field).closest(".am-u-sm-9").find(".am-alert").hide();
                },
                onInValid: function (validity) {
                    var $field = $(validity.field);
                    var $group = $field.closest(".am-u-sm-9");
                    var $alert = $group.find(".am-alert");
                    // 使用自定义的提示信息 或 插件内置的提示信息
                    var msg = $field.data("validationMessage") || this.getValidationMessage(validity);
                    if (!$alert.length) {
                        $alert = $("<div class='am-alert am-alert-danger'></div>").hide().
                          appendTo($group);
                    }
                    $alert.html(msg).show();
                },
                submit: function () {
                    if (this.isFormValid()) {
                        var model = {};
                        model.Date = $.trim($("#txtDate").val());
                        model.Item = $.trim($("#ddlItem").val());
                        model.Quantity = parseFloat($("#txtQuantity").val());
                        model.Unit = $.trim($("#" + model.Item).val());
                        model.Supplier = $.trim($("#txtSupplier").val());
                        model.Remark = $.trim($("#txtRemark").val());
                        model.Costs = [];
                        $("input[name='costMoney']").each(function () {
                            var cost = {};
                            cost.ItemCode = $(this).id;
                            cost.Money = parseFloat($(this).val());
                            model.Costs.push(cost);
                        });
                        $.ajax({
                            type: "post",
                            url: "/Purchase/AddProduct",
                            data: { model: model },
                            success: function (result) {
                                /*
                                if (result.Result) {
                                    window.location.href = result.Data;
                                }
                                else {
                                    $("#errorMessage").val(result.Message);
                                    $("#alertError").modal();
                                }*/
                                $("#errorMessage").val(result.Message);
                                $("#alertError").modal();
                                return false;
                            }
                        });
                    }
                    return false;
                }
            });
        });
    </script>
}