@using System.Collections.Generic;
@using EasySoft.PssS.Web.Resources;

@model EasySoft.PssS.Web.Models.Purchase.PurchaseDetailModel

@{
    ViewBag.Title = WebResource.Purchase_Detail_Title;
}

<div class="row">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Purchase/Index/@Model.Category">@Model.ParentPageTile</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>
<table class="table table-condensed">
    <tr>
        <td class="col-xs-2">@WebResource.Purchase_Add_Date</td>
        <td class="col-xs-7">@Model.Date</td>
        <td class="col-xs-3"></td>
    </tr>
    <tr>
        <td>@WebResource.Purchase_Add_Item</td>
        <td>@Model.Item</td>
        <td></td>
    </tr>
    <tr>
        <td>@WebResource.Purchase_Add_Supplier</td>
        <td>@Model.Supplier</td>
        <td></td>
    </tr>

    <tr>
        <td>
            @WebResource.Purchase_Add_Quantity
        </td>
        <td>@Model.Quantity.ToString("0.##")@Model.Unit </td>
        <td></td>
    </tr>
    <tr>
        <td>@WebResource.Purchase_Index_Stock</td>
        <td>@Model.Allowance.ToString("0.##")@Model.Unit</td>
        <td></td>
    </tr>
    <tr>
        <td>@WebResource.Purchase_Index_ProfitLoss</td>
        <td>
            @Model.ProfitLoss.ToString("0.##")@Model.Unit
        </td>
        <td></td>
    </tr>
    <tr>
        <td>@WebResource.Purchase_Index_Cost</td>
        <td>@Model.Cost.ToString("0.##")@WebResource.Purchase_Index_Yuan</td>
        <td class="text-right"><a id="btnViewCost" href="javascript:;">@WebResource.Button_View</a> </td>
    </tr>
    <tr>
        <td>@WebResource.Purchase_Add_Remark</td>
        <td colspan="2">@Model.Remark</td>
    </tr>
</table>



<div class="form-group">
    <input type="button" value="@WebResource.Button_Back" class="btn btn-default  btn-block" />

</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="alertDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    @WebResource.Common_Detail
                </h4>
            </div>
            <div class="modal-body" id="detail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    @WebResource.Button_Ok
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#btnViewCost').click(function () {
                $.ajax({
                    type: 'post',
                    url: '/Purchase/GetCostList',
                    data: { id: '@Model.Id' },
                    success: function (result) {
                        var msg = '<table class="table table-condensed">';
                        if (result != null && result.length > 0) {
                            $(result).each(function () {
                                msg += '<tr>' +
                                            '<td class="col-xs-3">' + this.ItemName + '</td>'
                                            + '<td class="col-xs-9">' + this.Money + '@WebResource.Purchase_Index_Yuan</td>'
                                        + '</tr>';
                            });
                        }
                        msg += '</table>';
                        showDetail(msg);
                    },
                    error: function () {
                        showDetail('System Error');
                    }
                });
                return false;
            });
        });
        function showDetail(errorMessage) {
            $('#detail').html(errorMessage);
            $('#alertDetail').modal('show');
        }
    </script>
}

