@using System.Collections.Generic;
@using EasySoft.PssS.Web.Resources;
@using EasySoft.PssS.Domain.ValueObject;

@model EasySoft.PssS.Web.Models.Purchase.PurchaseDetailModel

@{
    ViewBag.Title = WebResource.Title_RecordDetail;
}

<div class="row">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">@WebResource.Title_Index</a></li>
        <li><a href="/Purchase/Index/@Model.Category">@Model.ParentPageTitle</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>

<table class="table table-condensed">
    <tr>
        <td class="col-xs-2">@WebResource.Field_Date</td>
        <td class="col-xs-7">@Model.Date</td>
        <td class="col-xs-3"></td>
    </tr>
    <tr>
        <td>@WebResource.Field_Supplier</td>
        <td>@Model.Supplier</td>
        <td></td>
    </tr>
    <tr>
        <td>@WebResource.Field_Item</td>
        <td>@Model.Item</td>
        <td></td>
    </tr>
    <tr>
        <td>
            @WebResource.Field_Quantity
        </td>
        <td>@Model.Quantity.ToString("0.##")@Model.Unit </td>
        <td></td>
    </tr>
    <tr>
        <td>@WebResource.Field_Allowance</td>
        <td>@Model.Allowance.ToString("0.##")@Model.Unit</td>
        <td></td>
    </tr>
    <tr>
        <td>@WebResource.Field_ProfitLoss</td>
        <td id="tdProfitLoss">
            @Model.ProfitLoss.ToString("0.##")@Model.Unit
        </td>
        <td class="text-right"><a id="btnViewProfitLoss" href="javascript:;">@WebResource.Button_View</a> </td>
    </tr>
    <tr>
        <td>@WebResource.Field_Cost</td>
        <td>@Model.Cost.ToString("0.##")@WebResource.Common_Yuan</td>
        <td class="text-right"><a id="btnViewCost" href="javascript:;">@WebResource.Button_View</a> </td>
    </tr>
    <tr>
        <td>@WebResource.Field_Remark</td>
        <td colspan="2">@Model.Remark</td>
    </tr>
</table>
<div class="row text-center">
    <div class="btn-group">
        @if (Model.Status != PurchaseStatus.Finished)
        {
            if (Model.Status == PurchaseStatus.None)
            {
            <button type="button" class="btn btn-default" onclick="window.location.href = '/Purchase/Edit/@Model.Id';">@WebResource.Button_Edit</button>
            <button type="button" class="btn btn-default"onclick="return deletePurchase();">@WebResource.Button_Delete</button>
            }
            <button type="button" class="btn btn-default" onclick="window.location.href = '/ProfitLoss/Add/Profit/Purchase/@Model.Id';">@WebResource.Button_Profit</button>
            <button type="button" class="btn btn-default" onclick="window.location.href = '/ProfitLoss/Add/Loss/Purchase/@Model.Id';">@WebResource.Button_Loss</button>
            
        }
        <button type="button" class="btn btn-primary" onclick="window.history.back();">@WebResource.Button_Back</button>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="alertDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    @WebResource.Common_Detail
                </h4>
            </div>
            <div class="modal-body" id="detail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    @WebResource.Button_Ok
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            
            getProfitLossStatus();

            $('#btnViewCost').click(function () {
                $.ajax({
                    type: 'get',
                    url: '/Cost/GetList',
                    data: { id: '@Model.Id' },
                    success: function (result) {
                        var msg = '<table class="table table-condensed">';
                        if (result != null && result.length > 0) {
                            $(result).each(function () {
                                msg += '<tr>' +
                                            '<td class="col-xs-3">' + this.ItemName + '</td>'
                                            + '<td class="col-xs-9">' + this.Money + '@WebResource.Common_Yuan</td>'
                                        + '</tr>';
                            });
                        }
                        msg += '</table>';
                        showDetail(msg);
                    },
                    error: function () {
                        showDetail('System Error');
                    }
                });
            });

            $('#btnViewProfitLoss').click(function () {
                $.ajax({
                    type: 'get',
                    url: '/ProfitLoss/GetList',
                    data: { recordId: '@Model.Id' },
                    success: function (result) {
                        var msg = '<table class="table table-condensed">';
                        msg += '<tr>' +
                                            '<th class="col-xs-3">@WebResource.Field_Quantity</td>'
                                            + '<th class="col-xs-9">@WebResource.Field_Remark</td>'
                                        + '</tr>';
                        if (result != null && result.length > 0) {
                            $(result).each(function () {
                                var profit = this.Category == '@ProfitLossCategory.Profit.ToString()';
                                var quantity = '<td style="background-color:#ff0000">-' + this.Quantity + '</td>'
                                if (this.Category == '@ProfitLossCategory.Profit.ToString()') {
                                    quantity = '<td style="background-color:#0000ff">' + this.Quantity + '</td>'
                                }
                                msg += '<tr>' + quantity
                                            + '<td>' + this.Remark + '</td>'
                                        + '</tr>';
                            });
                        }
                        else {
                            msg += '<tr>' + '<td colspan="2">@WebResource.Message_NoData</td>'
                                       + '</tr>';
                        }
                        msg += '</table>';
                        showDetail(msg);
                    },
                    error: function () {
                        showDetail('System Error');
                    }
                });
            });
        });
        function getProfitLossStatus() {
            var profitLoss = @Model.ProfitLoss.ToString("0.##");
            var str = profitLoss + '@Model.Unit';
            if(profitLoss < 0){
                str = '<span style="color: #ff0000">' + str +'</span>';
            }
            $('#tdProfitLoss').html(str);
        }
        function showDetail(message) {
            $('#detail').html(message);
            $('#alertDetail').modal('show');
        }
        function deletePurchase() {
            if (confirm('@WebResource.Message_ConfirmDelete')) {
                $.ajax({
                    type: "post",
                    url: "/Purchase/Delete",
                    data: { id: '@Model.Id' },
                    success: function (result) {
                        if (result.Result) {
                            window.location.href = '/Purchase/Index/@Model.Category';
                        }
                        else {
                            showError(result.Message);
                        }
                        return false;
                    },
                    error: function () {
                        showError('System Error');
                    },
                    complete: function () {
                        $('#btnSubmit').removeAttr('disabled');
                    }
                });
            }
            return false;
        }
    </script>
}

