@using System.Collections.Generic;
@using EasySoft.PssS.Web.Resources;

@model EasySoft.PssS.Web.Models.Purchase.PurchaseEditModel

@{
    ViewBag.Title = Model.Title;
}

@section styles {
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet">
}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">@WebResource.Title_Index</a></li>
        <li><a href="/Purchase/Index/@Model.Category">@Model.ParentPageTitle</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>
<form id="formAddPurchase" class="form-horizontal">
    <div class="form-group">
        <label for="txtDate" class="col-xs-3 control-label">@WebResource.Field_Date</label>
        <div class="col-xs-9">
            <input id="txtDate" name="txtDate" class="form_datetime form-control" type="text" value="@Model.Date" readonly />
        </div>
    </div>
    <div class="form-group">
        <label for="txtSupplier" class="col-xs-3 control-label">@WebResource.Field_Supplier</label>
        <div class="col-xs-9">
            <input id="txtSupplier" name="txtSupplier" value="@Model.Supplier" type="text" class="form-control" placeholder="@ValidateHelper.GetFieldMaxLengthString(WebResource.Field_Supplier,  ValidateHelper.STRING_LENGTH_50)" maxlength="50" />
        </div>
    </div>
    <div class="form-group">
        <label for="ddlItem" class="col-xs-3 control-label">@WebResource.Field_Item</label>
        <div class="col-xs-9">
            <p class="form-control-static">@Model.ItemName</p>
        </div>
    </div>
    <div class="form-group">
        <label for="txtQuantity" class="col-xs-3 control-label">@WebResource.Field_Quantity</label>
        <div class="col-xs-9">
            <div class="input-group">
                <input id="txtQuantity" name="txtQuantity" value="@Model.Quantity.ToString("0.##")" type="number" min="@ValidateHelper.DECIMAL_MIN" max="@ValidateHelper.DECIMAL_MAX" class="form-control" aria-describedby="txtUnit" placeholder="@ValidateHelper.GetPleaseInputFieldString(WebResource.Field_Quantity)">
                <span class="input-group-addon" id="txtUnit">@Model.Unit</span>
            </div>
        </div>

    </div>

    @foreach (var cost in Model.Costs)
    {
        <div class="form-group">
            <label for="@cost.ItemCode" class="col-xs-3 control-label">@cost.ItemName</label>
            <div class="col-xs-9">
                <div class="input-group">
                    <input type="number" min="@ValidateHelper.DECIMAL_ZERO" max="@ValidateHelper.DECIMAL_MAX" id="@cost.Id" value="@cost.Money.ToString("0.##")" aria-describedby="span@cost.ItemCod" name="costMoney" class="form-control" placeholder="@ValidateHelper.GetPleaseInputFieldString(WebResource.Field_Money)" />
                    <span class="input-group-addon" id="span@cost.ItemCode">@WebResource.Common_Yuan</span>
                </div>
            </div>
        </div>
    }
    <div class="form-group">
        <label for="txtRemark" class="col-xs-3 control-label">@WebResource.Field_Remark</label>
        <div class="col-xs-9">
            <textarea class="form-control" rows="4" id="txtRemark" name="txtRemark" maxlength="120" placeholder="@ValidateHelper.GetFieldMaxLengthString(WebResource.Field_Remark,  ValidateHelper.STRING_LENGTH_120)">@Model.Remark</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-3"></div>
        <div class="col-xs-9 btn-group">
            <button id="btnSubmit" type="submit" class="btn btn-primary">@WebResource.Button_Submit</button>
            <button type="button" class="btn btn-default" onclick="window.close();">@WebResource.Button_Back</button>
        </div>
    </div>
</form>

<!-- 模态框（Modal） -->
<div class="modal fade" id="alertError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    @WebResource.Message_Error
                </h4>
            </div>
            <div class="modal-body" id="errorMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    @WebResource.Button_Ok
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js" charset="UTF-8"></script>
    <script type="text/javascript">

        $(function () {
            $('#txtDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                showMeridian: true,
                //pickerPosition: "bottom-left",
                language: 'zh-CN',//中文，需要引用zh-CN.js包
                startView: 2,//月视图
                minView: 2//日期时间选择器所能够提供的最精确的时间选择视图
            });
            $('#formAddPurchase').validate({
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                rules: {
                    txtDate:{
                        required: true,
                        date:true
                    },
                    txtSupplier:{
                        required: true,
                        maxlength: @ValidateHelper.STRING_LENGTH_50
                    },
                    txtQuantity: {
                        required: true,
                        number: true,
                        min :@ValidateHelper.DECIMAL_MIN,
                        max: @ValidateHelper.DECIMAL_MAX
                    },
                    costMoney: {
                        number: true,
                        min: @ValidateHelper.DECIMAL_ZERO,
                        max: @ValidateHelper.DECIMAL_MAX
                    },
                    txtRemark: {
                        maxlength: @ValidateHelper.STRING_LENGTH_120
                    }
                },
                messages: {
                    txtSupplier: {
                        required: '@ValidateHelper.GetPleaseInputFieldString(WebResource.Field_Supplier)',
                        maxlength: '@ValidateHelper.GetFieldMaxLengthString(WebResource.Field_Supplier, ValidateHelper.STRING_LENGTH_50)'
                    },
                    txtQuantity: {
                        required: '@ValidateHelper.GetPleaseInputFieldString(WebResource.Field_Quantity)',
                        number: '@ValidateHelper.GetDecimalFieldRangeString(WebResource.Field_Quantity, ValidateHelper.DECIMAL_MIN, ValidateHelper.DECIMAL_MAX)',
                        min: '@ValidateHelper.GetDecimalFieldRangeString(WebResource.Field_Quantity, ValidateHelper.DECIMAL_MIN, ValidateHelper.DECIMAL_MAX)',
                        max: '@ValidateHelper.GetDecimalFieldRangeString(WebResource.Field_Quantity, ValidateHelper.DECIMAL_MIN, ValidateHelper.DECIMAL_MAX)'
                    },
                    costMoney: {
                        number: '@ValidateHelper.GetPleaseInputFieldString(WebResource.Field_Money)',
                        min: '@ValidateHelper.GetDecimalFieldRangeString(WebResource.Field_Money, ValidateHelper.DECIMAL_ZERO, ValidateHelper.DECIMAL_MAX)',
                        max: '@ValidateHelper.GetDecimalFieldRangeString(WebResource.Field_Money, ValidateHelper.DECIMAL_ZERO, ValidateHelper.DECIMAL_MAX)'
                    },
                    txtRemark: {
                        maxlength: '@ValidateHelper.GetFieldMaxLengthString(WebResource.Field_Remark, ValidateHelper.STRING_LENGTH_120)'
                    }
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error').removeClass('has-success');
                },

                success: function (label) {
                    label.closest('.form-group').removeClass('has-error').addClass('has-success');
                    label.remove();
                },
                errorPlacement: function (error, element) {
                    //element.parent('div').append(error);
                    $(element).closest('.form-group').find('div:first').append(error);
                },
                submitHandler: function (form) {
                    if (this.valid()) {
                        $('#btnSubmit').attr({ 'disabled': 'disabled' });
                        var model = {};
                        model.Id = '@Model.Id';
                        model.Date = $.trim($('#txtDate').val());
                        model.Quantity = parseFloat($('#txtQuantity').val());
                        model.Supplier = $.trim($('#txtSupplier').val());
                        model.Remark = $.trim($('#txtRemark').val());
                        model.Costs = [];
                        $('input[name="costMoney"]').each(function () {
                            var cost = {};
                            cost.Id = $(this).attr("id");
                            cost.Money = parseFloat($(this).val());
                            model.Costs.push(cost);
                        });
                        $.ajax({
                            type: "post",
                            url: "/Purchase/Edit",
                            data: { model: model },
                            success: function (result) {
                                if (result.Result) {
                                    window.opener.location.reload();
                                    window.close();
                                }
                                else {
                                    showError(result.Message);
                                }
                                return false;
                            },
                            error: function () {
                                showError('System Error');
                            },
                            complete: function () {
                                $('#btnSubmit').removeAttr('disabled');
                            }
                        });
                    }
                    return false;
                }
            });
        });
        function showError(errorMessage) {
            $('#errorMessage').html(errorMessage);
            $('#alertError').modal();
        }
    </script>
}





