@using EasySoft.PssS.Domain.ValueObject;
@using EasySoft.PssS.Web.Resources;

@model EasySoft.PssS.Web.Models.Purchase.PurchaseIndexModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.PreviousUrl = "/Home/Index";
}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="form-group col-xs-12">
                <select id="ddlPurchaseItem" class="form-control input-sm">
                    <option value="">@WebResource.Message_AllItem</option>
                    @foreach (var item in ParameterHelper.GetPurchaseItem(Model.Category, false))
            {
                if (!string.IsNullOrWhiteSpace(Model.SelectedItem) && item.Key == Model.SelectedItem)
                {
                            <option selected value="@item.Key">@item.Value.Name</option>
                        }
                        else
                        {
                            <option value="@item.Key">@item.Value.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="padding-bottom:65px">
        @foreach (var data in Model.PageData)
        {
            <div class="panel panel-default">
                <div class="panel-heading" onclick="window.location.href='@string.Format("/Purchase/Detail/{0}?category={1}&item={2}&page={3}",data.Id, Model.Category, Model.SelectedItem, Model.PageIndex)'">
                    <h5 class="panel-title">
                        @data.Date @data.Item @data.Supplier
                    </h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="border-right:1px solid #dddddd;">
                            @data.Inventory.ToString("0.##")
                            <br />
                            <small>@WebResource.Field_Inventory ( @data.Unit )</small>
                        </div>
                        <div class="col-xs-4 text-center" style="border-right:1px solid #dddddd;">
                            @if (data.ProfitLoss > 0)
                {
                                <span style="color:#0000ff">@data.ProfitLoss.ToString("0.##")</span>
                            }
                            else if (data.ProfitLoss < 0)
                            {
                                <span style="color:#ff0000">@data.ProfitLoss.ToString("0.##")</span>
                            }
                            else
                            {
                                @data.ProfitLoss.ToString("0.##")
                            }
                            <br />
                            <small>@WebResource.Field_ProfitLoss (@data.Unit)</small>
                        </div>
                        <div class="col-xs-4 text-center">
                            @data.Cost.ToString("0.##")
                            <br />
                            <small>@WebResource.Field_Cost (@WebResource.Common_Yuan)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section footer {
    <div class="navbar-default navbar-fixed-bottom">
        @Html.Action("PageNavigation", "Common", new { pageIndex = Model.PageIndex, totalCount = Model.TotalCount, url = string.Format("/Purchase/Index/{0}?item={1}&page=", Model.Category, Model.SelectedItem) })

        <div class="row">
            <a href="/Purchase/Add/@Model.Category" class="btn btn-success btn-block ">
                <span class="glyphicon glyphicon-plus"></span>
                @Model.AddButtonText
            </a>
        </div>
    </div>
}


@section scripts {
    <script type="text/javascript">
        $(function () {

            $('#ddlPurchaseItem').change(function () {
                var item = $('#ddlPurchaseItem').val();
                if (item == '1') {
                    item = '';
                }
                window.location.href = '/Purchase/Index/@Model.Category?item=' + item + '&page=1';
            });
        });

        function getProfitLossStatus(profitLoss) {
            var str = profitLoss;
            if (profitLoss < 0) {
                str = '<span style="color: #ff0000">' + str + '</span>';
            }
            return str;
        }

    </script>
}

