@using EasySoft.PssS.Web.Resources;
@model EasySoft.PssS.Web.Models.Purchase.PurchaseIndexModel

<div class="row">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">@WebResource.Home_Index_Title</a></li>
        <li class="active">@Model.Title</li>
    </ol>
</div>
<div class="row">
    <div class="form-group col-xs-9">
        <select id="ddlPurchaseItem" class="form-control input-sm">
            <option value="1">@WebResource.Purchase_Index_AllItem</option>
            @foreach (var item in Model.PurchaseItems)
            {
                <option value="@item.Code">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group col-xs-3">
        <button id="btnAdd" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            @WebResource.Purchase_Index_IntoDepot
        </button>
    </div>
</div>
<div id="datalist">
</div>
<input type="hidden" id="hidePageIndex" value="1" />
<!--更多在底部-->
<div class="row text-center">
    <button id="btnMore" type="button" class="btn btn-default">@WebResource.Button_ViewMore</button>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {

            $('#btnAdd').click(function () {
                var url = '/Purchase/IntoDepot/Product';
                var category = '@Model.Category';
                if (category == 'Pack') {
                    url = '/Purchase/IntoDepot/Pack';
                }
                window.location.href = url;
            });

            $('#btnMore').click(function () { getData(); });
            $('#ddlPurchaseItem').change(function () {
                $('#hidePageIndex').val('1');
                $('#datalist').empty();
                getData();
            });
            getData();
        });

        function getData() {

            if (typeof ($('#btnMore').attr('disabled')) != 'undefined') {
                $('#btnMore').removeAttr('disabled');
            }

            var pageIndex = parseInt($('#hidePageIndex').val());
            var btnMore = "@WebResource.Button_ViewMore";
            var disabled = false;
            var item = $('#ddlPurchaseItem').val();
            if (item == '1') {
                item = '';
            }
            $.ajax({
                type: 'post',
                url: '/Purchase/GetDataByPaing',
                data: { category: '@Model.Category', item: item, pageIndex: pageIndex },
                success: function (result) {
                    if (result.TotalCount == 0) {
                        btnMore = "@WebResource.Message_NoData";
                        disabled = true;
                    }
                    else {
                        var datalist = '';
                        $(result.Data).each(function () {
                            var data = '<div class="row">' +
                                '<div class="col-xs-12" style="border-top:1px solid #dddddd;">' +
                                    '<div class="row" style="cursor:pointer">' +
                                        '<div class="form-group col-xs-10">' +
                                            '<p class="form-control-static"><a href="/Purchase/Detail/' + this.Id + '"><strong>' + this.Item + ' ' + this.Date + ' ' + this.Supplier + '</strong></a></p>' +
                                        '</div>' +
                                        '<div class="form-group col-xs-2 text-right">' +
                                            '<p class="form-control-static">></p>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                                '<div class="col-xs-12" style="border-top:1px solid #dddddd;">' +
                                    '<div class="row" style="padding-top:5px; padding-bottom:5px; ">' +
                                        '<div class="col-xs-12">' +
                                            '<div class="col-xs-4 text-center" style="border-right:1px solid #dddddd;">' +
                                                this.Allowance + '<br /><small>@WebResource.Purchase_Index_Stock (' + this.Unit + ')</small>' +
                                            '</div>' +
                                            '<div class="col-xs-4 text-center" style="border-right:1px solid #dddddd;">' +
                                                this.ProfitLoss + '<br /><small>@WebResource.Purchase_Index_ProfitLoss (' + this.Unit + ')</small>' +
                                            '</div>' +
                                            '<div class="col-xs-4 text-center">' +
                                                this.Cost + '<br /><small>@WebResource.Purchase_Index_Cost (@WebResource.Purchase_Index_Yuan)</small>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                                '<div class="form-group col-xs-12" style="border-bottom:1px solid #dddddd; padding-bottom:15px">' +
                                    '<p class="form-control-static" style="border-top:1px solid #dddddd;">@WebResource.Purchase_Add_Remark@WebResource.Message_Colon' + this.Remark + '</p>' +
                                '</div>' +
                            '</div>';

                            datalist += data;
                        });
                        $(datalist).appendTo('#datalist');
                        if (pageIndex * result.PageSize >= result.TotalCount) {
                            btnMore = "@WebResource.Message_NoMoreData";
                            disabled = true;
                        }
                        else {
                            pageIndex = pageIndex + 1;
                            $('#hidePageIndex').val(pageIndex);
                        }
                    }

                    $('#btnMore').text(btnMore);
                    if (disabled) {
                        $('#btnMore').attr({ 'disabled': 'disabled' });
                    }
                    return false;
                }
            });
            return false;
        }
    </script>
}





















</div>
