@using EasySoft.PssS.Web.Resources;
@model EasySoft.PssS.Web.Models.Purchase.PurchaseIndexModel
@{
    ViewBag.Title = Model.Title;
}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">@WebResource.Title_Index</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>
<div class="row">
    <div class="form-group col-xs-9">
        <select id="ddlPurchaseItem" class="form-control input-sm">
            <option value="1">@WebResource.Message_AllItem</option>
            @foreach (var item in Model.PurchaseItems)
            {
                if (!string.IsNullOrWhiteSpace(Model.SelectedItem) && item.Code == Model.SelectedItem)
                {
                    <option selected value="@item.Code">@item.Name</option>
                }
                else
                {
                    <option value="@item.Code">@item.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group col-xs-3">
        <button id="btnAdd" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            @WebResource.Button_Into
        </button>
    </div>
</div>
<div class="row" style="background-color:#f5f5fa; padding-top:8px; ">
    @foreach (var data in Model.Data)
    {<div class="col-xs-12" style="background-color:#ffffff; margin-bottom:8px;">
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:5px; border-top:1px solid #dddddd;cursor:pointer;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;" onclick="window.location.href='@string.Format("/Purchase/Detail/{0}?item={1}&page={2}", data.Id, Model.SelectedItem, Model.PageIndex)'">
                <p class="form-control-static">@data.Item @data.Date @data.Supplier </p>
            </div>
        </div>
        <div class="row" style="border-top:1px solid #dddddd;">

            <div class="col-xs-4 text-center" style="border-right:1px solid #dddddd;">
                @data.Inventory
                <br />
                <small>@WebResource.Field_Inventory ( @data.Unit )</small>
            </div>
            <div class="col-xs-4 text-center" style="border-right:1px solid #dddddd;">
                @if (data.ProfitLoss > 0)
                {
                    <span style="color:#0000ff">@data.ProfitLoss</span>
                }
                else if (data.ProfitLoss < 0)
                {
                    <span style="color:#ff0000">@data.ProfitLoss</span>
                }
                else
                {
                    @data.ProfitLoss
                }
                <br />
                <small>@WebResource.Field_ProfitLoss (@data.Unit)</small>
            </div>
            <div class="col-xs-4 text-center">
                @data.Cost
                <br />
                <small>@WebResource.Field_Cost (@WebResource.Common_Yuan)</small>
            </div>

        </div>
    </div>
    }
</div>
@Html.Action("PageNavigation", "Common", new { pageIndex = Model.PageIndex, totalCount = Model.TotalCount, url = string.Format("/Purchase/Index/{0}?item={1}&page=", Model.Category, Model.SelectedItem) })


@section scripts {
    <script type="text/javascript">
        $(function () {

            $('#btnAdd').click(function () {
                var url = '/Purchase/Add/Product';
                var category = '@Model.Category';
                if (category == 'Pack') {
                    url = '/Purchase/Add/Pack';
                }
                window.location.href = url;
            });

            $('#ddlPurchaseItem').change(function () {
                var item = $('#ddlPurchaseItem').val();
                if (item == '1') {
                    item = '';
                }
                window.location.href = '/Purchase/Index/@Model.Category?item=' + item + '&page=1';
            });
        });

        function getProfitLossStatus(profitLoss) {
            var str = profitLoss;
            if (profitLoss < 0) {
                str = '<span style="color: #ff0000">' + str + '</span>';
            }
            return str;
        }

    </script>
}





















</div>

