@using System.Collections.Generic;
@using EasySoft.PssS.Web.Resources;

@model EasySoft.PssS.Web.Models.Purchase.PurchaseAddModel

@{
    ViewBag.Title = Model.Title;
}

@section styles {
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet">
}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">@WebResource.Title_Index</a></li>
        <li><a href="/Purchase/Index/@Model.Category">@Model.ParentPageTitle</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>
<form id="formAddPurchase" class="form-horizontal">
    <div class="form-group">
        <label for="txtDate" class="col-xs-3 control-label">@WebResource.Field_Date</label>
        <div class="col-xs-9">
            <input id="txtDate" name="txtDate" class="form_datetime form-control" type="text" value="@Model.CurrentDate" readonly />
        </div>
    </div>
    <div class="form-group">
        <label for="txtSupplier" class="col-xs-3 control-label">@WebResource.Field_Supplier</label>
        <div class="col-xs-9">
            <input id="txtSupplier" name="txtSupplier" type="text" class="form-control" placeholder="@WebResource.Purchase_Add_SupplierTip" maxlength="50" />
        </div>
    </div>
    <div class="form-group">
        <label for="ddlItem" class="col-xs-3 control-label">@WebResource.Field_Item</label>
        <div class="col-xs-9">
            <select id="ddlItem" name="ddlItem" class="form-control" placeholder="@WebResource.Purchase_Add_ItemTip" required>
                <option value="">@WebResource.Purchase_Add_ItemTip</option>
                @foreach (var item in Model.PurchaseItems)
                {
                    <option value="@item.Code">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="txtQuantity" class="col-xs-3 control-label">@WebResource.Field_Quantity</label>
        <div class="col-xs-9">
            <div class="input-group">
                <input id="txtQuantity" name="txtQuantity" type="number" min="0.01" max="99999999.99" class="form-control" aria-describedby="txtUnit" placeholder="@WebResource.Purchase_Add_QuantityTip1">
                <span class="input-group-addon" id="txtUnit">---</span>
            </div>
        </div>
        
    </div>
    

    @foreach (var cost in Model.Costs)
    {
        <div class="form-group">
            <label for="@cost.ItemCode" class="col-xs-3 control-label">@cost.ItemName</label>
            <div class="col-xs-9">
                <div class="input-group">
                    <input type="number" min="0" max="99999999.99" id="@cost.ItemCode" aria-describedby="span@cost.ItemCod" name="costMoney" class="form-control" placeholder="@WebResource.Purchase_Add_MoneyTip" />
                    <span class="input-group-addon" id="span@cost.ItemCode">@WebResource.Purchase_Index_Yuan</span>
                </div>
            </div>
        </div>
    }
    <div class="form-group">
        <label for="txtRemark" class="col-xs-3 control-label">@WebResource.Field_Remark</label>
        <div class="col-xs-9">
            <textarea class="form-control" rows="4" id="txtRemark" name="txtRemark" maxlength="120" placeholder="@WebResource.Purchase_Add_RemarkTip"></textarea>
        </div>
    </div>
    <div class="form-group"><div class="col-xs-3"></div>
    <div class="col-xs-9 btn-group">
        <button id="btnSubmit" type="submit" class="btn btn-primary">@WebResource.Button_Submit</button>
        <button type="button" class="btn btn-default" onclick="window.history.back();">@WebResource.Button_Back</button>
    </div>
</div>
</form>
@foreach (var item in Model.PurchaseItems)
{
    <input type="hidden" id="@item.Code" value="@item.InputUnit" />
}
<!-- 模态框（Modal） -->
<div class="modal fade" id="alertError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    @WebResource.Message_Error
                </h4>
            </div>
            <div class="modal-body" id="errorMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    @WebResource.Button_Ok
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js" charset="UTF-8"></script>
    <script type="text/javascript">

        $(function () {
            $('#txtDate').datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                showMeridian: true,
                //pickerPosition: "bottom-left",
                language: 'zh-CN',//中文，需要引用zh-CN.js包
                startView: 2,//月视图
                minView: 2//日期时间选择器所能够提供的最精确的时间选择视图
            });
            $('#ddlItem').change(function () {
                var item = $('#ddlItem').val();
                var unit = '---';
                if (item.length > 0) {
                    unit = $('#' + item).val();
                }
                $('#txtUnit').html(unit);
            });
            $('#formAddPurchase').validate({
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                rules: {
                    txtDate:{
                        required: true,
                        date:true
                    },
                    txtSupplier:{
                        required: true,
                        maxlength: 50
                    },
                    ddlItem: {
                        required: true
                    },
                    txtQuantity: {
                        required: true,
                        number: true,
                        min :0.01,
                        max: 99999999.99
                    },
                    costMoney: {
                        number: true,
                        min: 0,
                        max: 99999999.99
                    },
                    txtRemark: {
                        maxlength: 120
                    }
                },
                messages:{
                    txtDate:{
                        required: '@WebResource.Purchase_Add_DateTip',
                        date:'@WebResource.Purchase_Add_DateTip'
                    },
                    txtSupplier:{
                        required: '@WebResource.Purchase_Add_SupplierTip',
                        maxlength: '@WebResource.Purchase_Add_SupplierTip'
                    },
                    ddlItem: {
                        required: '@WebResource.Purchase_Add_ItemTip'
                    },
                    txtQuantity: {
                        required: '@WebResource.Purchase_Add_QuantityTip',
                        number: '@WebResource.Purchase_Add_QuantityTip1',
                        min :'@WebResource.Purchase_Add_QuantityTip1',
                        max: '@WebResource.Purchase_Add_QuantityTip1'
                    },
                    costMoney: {
                        number: '@WebResource.Purchase_Add_MoneyTip',
                        min: '@WebResource.Purchase_Add_MoneyTip',
                        max: '@WebResource.Purchase_Add_MoneyTip'
                    },
                    txtRemark: {
                        maxlength: '@WebResource.Purchase_Add_RemarkTip'
                    }
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error').removeClass('has-success');
                },

                success: function (label) {
                    label.closest('.form-group').removeClass('has-error').addClass('has-success');
                    label.remove();
                },
                errorPlacement: function (error, element) {
                    //element.parent('div').append(error);
                    $(element).closest('.form-group').find('div:first').append(error);
                },
                submitHandler: function (form) {
                    if (this.valid()) {
                        $('#btnSubmit').attr({ 'disabled': 'disabled' });
                        var model = {};
                        model.Date = $.trim($('#txtDate').val());
                        model.Category = '@Model.Category';
                        model.Item = $.trim($('#ddlItem').val());
                        model.Quantity = parseFloat($('#txtQuantity').val());
                        model.Unit = $.trim($('#' + model.Item).val());
                        model.Supplier = $.trim($('#txtSupplier').val());
                        model.Remark = $.trim($('#txtRemark').val());
                        model.Costs = [];
                        $('input[name="costMoney"]').each(function () {
                            var cost = {};
                            cost.ItemCode = $(this).attr("id");
                            cost.Money = parseFloat($(this).val());
                            model.Costs.push(cost);
                        });
                        $.ajax({
                            type: "post",
                            url: "/Purchase/IntoDepot",
                            data: { model: model },
                            success: function (result) {
                                if (result.Result) {
                                    window.location.href = result.Data;
                                }
                                else {
                                    showError(result.Message);
                                }
                                return false;
                            },
                            error: function () {
                                showError('System Error');
                            },
                            complete: function () {
                                $('#btnSubmit').removeAttr('disabled');
                            }
                        });
                    }
                    return false;
                }
            });
        });
        function showError(errorMessage) {
            $('#errorMessage').html(errorMessage);
            $('#alertError').modal();
        }
    </script>
}

