@using EasySoft.PssS.Web.Resources;
@model EasySoft.PssS.Web.Models.Outbound.OutboundFirstModel

@{
    ViewBag.Title = WebResource.Title_OutboundFirst;
}
@section styles {
    @Styles.Render("~/Content/datetimepicker")
}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">@WebResource.Title_Index</a></li>
        <li><a href="/Outbound/Index">@WebResource.Title_OutboundRecord</a></li>
        <li class="active">@WebResource.Title_OutboundFirst</li>
    </ol>
</div>
<table class="table table-condensed">
    <tr>
        <td class="col-xs-6">@WebResource.Field_Date</td>
        <td class="col-xs-3">@WebResource.Field_Inventory</td>
        <td class="col-xs-3">出库量</td>
    </tr>
@foreach (var data in Model.Products)
{
    <tr>
        <td>@data.Item @data.Date <br />@data.Supplier</td>
        <td style="vertical-align:middle">@data.Inventory.ToString("0.##") @data.Unit</td>
        <td style="vertical-align:middle"></td>
    </tr>
}
    </table>
    <div class="row" style="background-color:#f5f5fa; ">
        @foreach (var data in Model.Products)
        {
            <div class="col-xs-12" style="background-color:#ffffff; margin-bottom:8px;">
                <div class="row">
                    <div class="col-xs-12" style="padding-bottom:5px; border-top:1px solid #dddddd;cursor:pointer;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
                        <p class="form-control-static">@data.Item @data.Date @data.Supplier </p>
                    </div>
                </div>
                <div class="row" style="border-top:1px solid #dddddd; padding-top:8px;">
                    <div class="col-xs-12  input-group">
                        <input id="@data.Id" name="txtQuantity" type="number" min="0.01" max="@data.Inventory.ToString("0.##")" class="form-control" aria-describedby="@string.Format("{0}_Unit",data.Id)" placeholder="@ValidateHelper.GetDecimalFieldRangeString(WebResource.Field_Quantity, 0.01M, data.Inventory)">
                        <span class="input-group-addon" id="@string.Format("{0}_Unit",data.Id)">@data.Unit</span>
                    </div>

                </div>
            </div>
        }
    </div>

    <input type="hidden" id="hideId" value="@Model.Id" />
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="form-group">
                <div class="col-xs-3"></div>
                <div class="col-xs-9 btn-group">
                    <button id="btnSubmit" type="submit" class="btn btn-success">@WebResource.Button_Submit</button>
                    <button type="button" class="btn btn-default" onclick="window.history.back();">@WebResource.Button_Back</button>
                </div>
            </div>
        </div>
    </nav>


