@using System.Collections.Generic;
@using EasySoft.PssS.Web.Resources;
@using EasySoft.PssS.Domain.ValueObject;

@model EasySoft.PssS.Web.Models.ProfitLoss.ProfitLossAddModel

@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">@WebResource.Title_Index</a></li>
        <li><a href="@Model.ParentPageUrl">@Model.ParentPageTitle</a></li>
        <li class="active">@Model.Title</li>
    </ol>
</div>
<form id="formAddPurchase" class="form-horizontal">

    <div class="form-group">
        <label for="txtQuantity" class="col-xs-3 control-label">@WebResource.Field_Quantity</label>
        <div class="col-xs-9">
            <div class="input-group">
                <input id="txtQuantity" name="txtQuantity" type="number" min="0" max="@Model.Allowance.ToString("0.##")" class="form-control" aria-describedby="txtUnit" placeholder="@ValidateHelper.GetDecimalFieldRangeString(WebResource.Field_Quantity, 0.01M, Model.Allowance)">
                <span class="input-group-addon" id="txtUnit">@Model.Unit</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="txtRemark" class="col-xs-3 control-label">@WebResource.Field_Remark</label>
        <div class="col-xs-9">
            <textarea class="form-control" rows="4" id="txtRemark" name="txtRemark" maxlength="120" placeholder="@ValidateHelper.GetFieldLengthOverflowString(WebResource.Field_Remark, 0, 120)"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-3"></div>
        <div class="col-xs-9 btn-group">
            <button id="btnSubmit" type="submit" class="btn btn-primary">@WebResource.Button_Submit</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">@WebResource.Button_Back</button>
        </div>
    </div>
</form>

<!-- 模态框（Modal） -->
<div class="modal fade" id="alertError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    @WebResource.Message_Error
                </h4>
            </div>
            <div class="modal-body" id="errorMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    @WebResource.Button_Ok
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js" charset="UTF-8"></script>
    <script type="text/javascript">

        $(function () {

            $('#formAddPurchase').validate({
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                rules: {
                    txtQuantity: {
                        required: true,
                        number: true,
                        min: @ValidateHelper.DECIMAL_MIN,
                        max: @Model.Allowance
                    },
                    txtRemark: {
                        maxlength: 120
                    }
                },
                messages: {
                    txtQuantity: {
                        required: '@ValidateHelper.GetDecimalFieldRangeString(WebResource.Field_Quantity, ValidateHelper.DECIMAL_MIN, Model.Allowance)',
                        number: '@ValidateHelper.GetDecimalFieldRangeString(WebResource.Field_Quantity, ValidateHelper.DECIMAL_MIN, Model.Allowance)',
                        min: '@ValidateHelper.GetDecimalFieldRangeString(WebResource.Field_Quantity, ValidateHelper.DECIMAL_MIN, Model.Allowance)',
                        max: '@ValidateHelper.GetDecimalFieldRangeString(WebResource.Field_Quantity, ValidateHelper.DECIMAL_MIN, Model.Allowance)'
                    },
                    txtRemark: {
                        maxlength: '@ValidateHelper.GetFieldLengthOverflowString(WebResource.Field_Remark,ValidateHelper.INT_MIN, ValidateHelper.STRING_LENGTH_120)'
                    }
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error').removeClass('has-success');
                },

                success: function (label) {
                    label.closest('.form-group').removeClass('has-error').addClass('has-success');
                    label.remove();
                },
                errorPlacement: function (error, element) {
                    //element.parent('div').append(error);
                    $(element).closest('.form-group').find('div:first').append(error);
                },
                submitHandler: function (form) {
                    if (this.valid()) {
                        $('#btnSubmit').attr({ 'disabled': 'disabled' });
                        var model = {};
                        model.RecordId = '@Model.RecordId';
                        model.Category = '@Model.Category';
                        model.TargetType = '@Model.TargetType';
                        model.Quantity = parseFloat($('#txtQuantity').val());
                        model.Remark = $.trim($('#txtRemark').val());
                        $.ajax({
                            type: 'post',
                            url: '/ProfitLoss/Add',
                            data: { model: model },
                            success: function (result) {
                                if (result.Result) {
                                    window.opener.location.reload();
                                    window.close();
                                }
                                else {
                                    showError(result.Message);
                                }
                                return false;
                            },
                            error: function () {
                                showError('System Error');
                            },
                            complete: function () {
                                $('#btnSubmit').removeAttr('disabled');
                            }
                        });
                    }
                    return false;
                }
            });
        });
        function showError(errorMessage) {
            $('#errorMessage').html(errorMessage);
            $('#alertError').modal();
        }
    </script>
}

