@using EasySoft.PssS.Web.Resources;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@WebResource.SystemName</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top: 70px;">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@ViewBag.PreviousUrl" class="navbar-brand"><</a>
                <p class="navbar-text" style="padding-left:15px; font-size:18px;  line-height: 20px; ">@ViewBag.Title</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
        @RenderSection("footer", required: false)
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>