@using EasySoft.Core.Util;
@using EasySoft.PssS.Web.Resources;
@{
    ViewBag.Title = WebResource.Title_AddCustomerGroup;
    ViewBag.PreviousUrl = "/CustomerGroup/Index";
}
<form id="formAdd" role="form">
    <div class="form-group">
        <input id="txtName" name="txtName" type="text" class="form-control" placeholder="@Validate.GetFieldMaxLengthString(WebResource.Field_Name,  Constant.STRING_LENGTH_10)" maxlength="@Constant.STRING_LENGTH_10" required />
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="3" id="txtRemark" name="txtRemark" maxlength="@Constant.STRING_LENGTH_100" placeholder="@Validate.GetFieldMaxLengthString(WebResource.Field_Remark,  Constant.STRING_LENGTH_100)"></textarea>
    </div>

    <div class="row navbar-default navbar-fixed-bottom">
        <div class="col-xs-6">
            <div class="row">
                <button type="button" class="btn btn-default btn-block" onclick="window.history.back();" style="border-Radius:0px">@WebResource.Button_Back</button>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <button id="btnSubmit" type="submit" class="btn btn-success btn-block" style="border-Radius:0px">@WebResource.Button_Submit</button>
            </div>
        </div>
        
    </div>
</form>

@Html.Action("Dialog", "Common", new { id = "alertError", title = WebResource.Message_Error, messageBodyId = "errorMessage", okButton = @WebResource.Button_Ok })

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(function () {
            $('#formAdd').validate({
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                rules: {
                    txtName: {
                        required: true,
                        maxlength: @Constant.STRING_LENGTH_10
                    },
                    txtRemark: {
                        maxlength: @Constant.STRING_LENGTH_100
                    }
                },
                messages: {
                    txtName: {
                        required: '@Validate.GetPleaseInputFieldString(WebResource.Field_Name)',
                        maxlength: '@Validate.GetFieldMaxLengthString(WebResource.Field_Name, Constant.STRING_LENGTH_10)'
                    },
                    txtRemark: {
                        maxlength: '@Validate.GetFieldMaxLengthString(WebResource.Field_Remark, Constant.STRING_LENGTH_100)'
                    }
                },
                //自定义错误消息放到哪里
                errorPlacement: function (error, element) {
                    element.closest('.form-group').append(error);//显示错误消息提示
                },
                //给未通过验证的元素进行处理
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error has-feedback').removeClass('has-success');
                },
                //验证通过的处理
                success: function (element) {
                    element.closest('.form-group').removeClass('has-error').addClass("has-feedback has-success");
                    element.remove();
                },
                submitHandler: function (form) {
                    if (this.valid()) {
                        $('#btnSubmit').attr({ 'disabled': 'disabled' });
                        var model = {};
                        model.Name = $.trim($('#txtName').val());
                        model.Remark = $.trim($('#txtRemark').val());
                        $.ajax({
                            type: 'post',
                            url: '/CustomerGroup/Add',
                            data: { model: model },
                            success: function (result) {
                                if (result.Result) {
                                    window.location.href = '/CustomerGroup/Index';
                                }
                                else {
                                    showError(result.Message);
                                }
                                return false;
                            },
                            error: function () {
                                showError('System Error');
                            },
                            complete: function () {
                                $('#btnSubmit').removeAttr('disabled');
                            }
                        });
                    }
                    return false;
                }
            });
        });
        function showError(errorMessage) {
            $('#errorMessage').html(errorMessage);
            $('#alertError').modal();
        }
    </script>
}